.basic-form {
  &:not(.is-col-layout) {
    .el-form-item {
      margin-right: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .form-action .el-form-item {
    .el-button {
      margin-left: 8px;
    }
    .el-form-item__content {
      flex-wrap: nowrap;
    }
  }
}

.el-dialog {
  .el-card.form-card {
    border: none;
  }
}
